option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref": "AWS::Region"}`'

container_commands:
  00:
    command: "sh /tmp/post-install.sh"

packages:
  yum:
  # for fuse mount of S3 bucket
    automake: []
    fuse: []
    fuse-devel: []
    gcc-c++: []
    git: []
    libcurl-devel: []
    libxml2-devel: []
    make: []
    openssl-devel: []
    jq: []

commands:
  01_fuse:
    command: "/tmp/fuse.sh"

files:
  "/tmp/fuse.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        
        if [ -x /usr/bin/s3fs ]
        then
          exit
        fi

        echo "build and install s3fs"
        git clone https://github.com/s3fs-fuse/s3fs-fuse.git
        cd s3fs-fuse
        ./autogen.sh
        ./configure --prefix=/usr --with-openssl
        make
        make install
        cd ..
        rm -rf s3fs-fuse
        
        mkdir /mnt/s3

        AWS_REGION=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.AWS_REGION')
        S3_BUCKET=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.S3_BUCKET')
        export AWSACCESSKEYID=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.AWS_KID')
        export AWSSECRETACCESSKEY=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.AWS_KEY')
        s3fs ${S3_BUCKET} /mnt/s3/ -o endpoint=$AWS_REGION -o use_cache=/tmp -o url="https://s3.${AWS_REGION}.amazonaws.com" -o allow_other

        echo "ok"

  "/tmp/post-install.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        
        echo "post-install: create S3 site-default"
        if [ ! -d /mnt/s3/site-default ];then
          mkdir -p /mnt/s3/site-default
          chown webapp:webapp /mnt/s3/site-default
        fi

        echo "post-install: link S3 site-default"        
        if [ ! -d sites/default-old ]; then
          if [ -d sites/default ]; then
            sudo -u webapp mv sites/default sites/default-old
          fi
          sudo -u webapp ln -s /mnt/s3/site-default sites/default

          if [ ! -r /mnt/s3/site-default/default.settings.php ]; then
            sudo -u webapp cp sites/default-old/* sites/default
            sudo -u webapp rm -rf sites/default-old
          fi
        fi

        echo "post-install: create files dir in S3 site-default"        
        if [ ! -d sites/default/files ];then
          sudo -u webapp mkdir -p sites/default/files
        fi
        sudo -u webapp touch sites/default/files/s3_ready.txt
        
        if [ ! -r sites/default/settings.php ]; then
          sudo -u webapp cp beanstalk-settings.php sites/default/settings.php
        fi
